MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=outfordelivery-lake


AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local


KAFKA_BOOTSTRAP=localhost:9092
SCHEMA_REGISTRY_URL=http://localhost:8081
